// Break points
$small-mobile: new-breakpoint(min-width 305px 12);
$mobile: new-breakpoint(min-width 485px 12);
$small-tablet: new-breakpoint(min-width 650px 12);
$big-tablet: new-breakpoint(min-width 850px 12);
$laptop: new-breakpoint(min-width 1000px 12);
$big-screen: new-breakpoint(min-width 1200px 12);

// Colors
$bg-color: #fff;
$accent-color: #ABB1BD;
$caption-color: #909db8;
$link-color: #D61E1E;//#1E51D6;
$input-border-color: #aaa;

// Fonts
$main-font-size: 17px;
$main-line-height: 1.7;

$heading-font: 'Open Sans', Helvetica, Arial, sans-serif;
$body-font: 'Merriweather', Georgia, serif;

// Nav bar
$nav-bar-height: 60px;
$logo-width: 35px;

$side-padding: 10px;