@import "bourbon/bourbon";
@import "neat/neat";

// for use by animo.js
.animated.scaleUp {
  @include animation-name(scaleUp);
}

@include keyframes(scaleUp) {
  from {
    @include transform(scale(0.95));
    opacity: 0;
  }
  to {
    @include transform(scale(1));
    opacity: 1;
  }
}

.animated.scaleUpBig {
  @include animation-name(scaleUpBig);
}

@include keyframes(scaleUpBig) {
  from {
    @include transform(scale(1));
    opacity: 1;
  }
  to {
    @include transform(scale(1.1));
    opacity: 0;
  }
}