* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.animated.scaleUp {
  -webkit-animation-name: scaleUp;
  -moz-animation-name: scaleUp;
  animation-name: scaleUp; }

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0.95);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleUp {
  from {
    -moz-transform: scale(0.95);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleUp {
  from {
    -o-transform: scale(0.95);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.95);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleUpBig {
  -webkit-animation-name: scaleUpBig;
  -moz-animation-name: scaleUpBig;
  animation-name: scaleUpBig; }

@-webkit-keyframes scaleUpBig {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(1.1);
    opacity: 0; } }

@-moz-keyframes scaleUpBig {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(1.1);
    opacity: 0; } }

@-o-keyframes scaleUpBig {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(1.1);
    opacity: 0; } }

@keyframes scaleUpBig {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(1.1);
    opacity: 0; } }
