* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.animated.scaleUpIn {
  -webkit-animation-name: scaleUpIn;
  -moz-animation-name: scaleUpIn;
  animation-name: scaleUpIn; }

@-webkit-keyframes scaleUpIn {
  from {
    -webkit-transform: scale(0.95);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleUpIn {
  from {
    -moz-transform: scale(0.95);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleUpIn {
  from {
    -o-transform: scale(0.95);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleUpIn {
  from {
    transform: scale(0.95);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleUpOut {
  -webkit-animation-name: scaleUpOut;
  -moz-animation-name: scaleUpOut;
  animation-name: scaleUpOut; }

@-webkit-keyframes scaleUpOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(1.1);
    opacity: 0; } }

@-moz-keyframes scaleUpOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(1.1);
    opacity: 0; } }

@-o-keyframes scaleUpOut {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(1.1);
    opacity: 0; } }

@keyframes scaleUpOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(1.1);
    opacity: 0; } }

.animated.scaleDownIn {
  -webkit-animation-name: scaleDownIn;
  -moz-animation-name: scaleDownIn;
  animation-name: scaleDownIn; }

@-webkit-keyframes scaleDownIn {
  from {
    -webkit-transform: scale(1.1);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleDownIn {
  from {
    -moz-transform: scale(1.1);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleDownIn {
  from {
    -o-transform: scale(1.1);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleDownIn {
  from {
    transform: scale(1.1);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleDownOut {
  -webkit-animation-name: scaleDownOut;
  -moz-animation-name: scaleDownOut;
  animation-name: scaleDownOut; }

@-webkit-keyframes scaleDownOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(0.98);
    opacity: 0; } }

@-moz-keyframes scaleDownOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(0.98);
    opacity: 0; } }

@-o-keyframes scaleDownOut {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(0.98);
    opacity: 0; } }

@keyframes scaleDownOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(0.98);
    opacity: 0; } }
