@import "bourbon/bourbon";
@import "neat/neat";
@import "animations.scss";

$mobile: new-breakpoint(max-width 555px 6);

// remove default margin
body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#top-navbar {
    text-align: center;
    background-color: #eee;
}

#menu-bar {
    li {
        display: inline-block;
    }
}

#work-container {
    @include outer-container;
    @include animation(scaleUp 0.5s ease 0 1);

    .portfolio-item {
        @include span-columns(4);
        background-color: #77f;
        @include omega(3n);

        @include media($mobile) {
            @include span-columns(12);
            background-color: green;
        }
    }
}

#portfolio-content-container {
    display: none;
}