@import "bourbon/bourbon";
@import "neat/neat";
@import "grid-settings";
@import "mixins";
@import "animations.scss";

$mobile: new-breakpoint(min-width 450px 12);
$tablet: new-breakpoint(min-width 750px 12);

// remove default margin
body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

// nav bar
#top-navbar {
    @include outer-container;
    text-align: center;
    background-color: #eee;
    cursor: default;

    a {
        cursor: pointer;
    }
}

#menu-bar {
    li {
        display: inline-block;
    }
}

// works
#work-container {
    @include outer-container;
    @include animation(scaleUp 0.5s ease 0 1);
    padding: 20px;

    .portfolio-item {
        @include span-columns(12);
        background-color: #77f;
        margin-bottom: 2px;
        cursor: pointer;
        height: 200px;
        margin-top: 10px;

        @include media($mobile) {
            @include span-columns(6);
            @include omega(2n);
            background-color: green;
        }

        @include media($tablet) {
            @include omega-reset(2n);
            @include span-columns(4);
            @include omega(3n);
            background-color: red;

        }
    }
}

#portfolio-item-page-container {
    padding: 20px;

    #portfolio-item-contents-container {
        p {
            margin: 10px 0;
        }
    }
}