@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.animated.scaleUpIn {
  -webkit-animation-name: scaleUpIn;
  -moz-animation-name: scaleUpIn;
  animation-name: scaleUpIn; }

@-webkit-keyframes scaleUpIn {
  from {
    -webkit-transform: scale(0.95);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }
@-moz-keyframes scaleUpIn {
  from {
    -moz-transform: scale(0.95);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }
@keyframes scaleUpIn {
  from {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
.animated.scaleUpOut {
  -webkit-animation-name: scaleUpOut;
  -moz-animation-name: scaleUpOut;
  animation-name: scaleUpOut; }

@-webkit-keyframes scaleUpOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(1.1);
    opacity: 0; } }
@-moz-keyframes scaleUpOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(1.1);
    opacity: 0; } }
@keyframes scaleUpOut {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0; } }
.animated.scaleDownIn {
  -webkit-animation-name: scaleDownIn;
  -moz-animation-name: scaleDownIn;
  animation-name: scaleDownIn; }

@-webkit-keyframes scaleDownIn {
  from {
    -webkit-transform: scale(1.1);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }
@-moz-keyframes scaleDownIn {
  from {
    -moz-transform: scale(1.1);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }
@keyframes scaleDownIn {
  from {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
.animated.scaleDownOut {
  -webkit-animation-name: scaleDownOut;
  -moz-animation-name: scaleDownOut;
  animation-name: scaleDownOut; }

@-webkit-keyframes scaleDownOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(0.98);
    opacity: 0; } }
@-moz-keyframes scaleDownOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(0.98);
    opacity: 0; } }
@keyframes scaleDownOut {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
    opacity: 0; } }
#work-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  #work-container:after {
    content: "";
    display: table;
    clear: both; }
  #work-container .portfolio-item {
    display: inline-block;
    height: 215px;
    width: 100%;
    position: relative;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-color: #eee;
    cursor: pointer;
    opacity: 0.85;
    -webkit-backface-visibility: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .touch #work-container .portfolio-item, #work-container .portfolio-item:hover {
      opacity: 1; }
      .touch #work-container .portfolio-item .hover-description, #work-container .portfolio-item:hover .hover-description {
        opacity: 1; }
    #work-container .portfolio-item:active {
      -webkit-transform: scale(0.97);
      -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
      -o-transform: scale(0.97);
      transform: scale(0.97); }
    @media screen and (min-width: 485px) {
      #work-container .portfolio-item {
        height: 275px; } }
    @media screen and (min-width: 650px) {
      #work-container .portfolio-item {
        height: 250px;
        width: 50%; } }
    @media screen and (min-width: 1000px) {
      #work-container .portfolio-item {
        height: 275px;
        width: 33.333%; } }
    #work-container .portfolio-item .hover-description {
      height: 100%;
      padding: 10px 0;
      font-family: Lato;
      color: white;
      font-size: 20px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      background-color: transparent;
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), transparent 55%);
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent 55%);
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
      #work-container .portfolio-item .hover-description .description-subtitle {
        font-size: 16px;
        font-weight: 300; }
      .no-cssgradients #work-container .portfolio-item .hover-description {
        background-color: rgba(0, 0, 0, 0.4); }
  #work-container #siat-outreach-link {
    background-image: url("../images/portfolio-item-thumbs/siat-outreach-thumbnail.jpg"); }
  #work-container #active-textbook-link {
    background-image: url("../images/portfolio-item-thumbs/active-textbook.jpg"); }
  #work-container #awake-link {
    background-image: url("../images/portfolio-item-thumbs/awake.jpg"); }
  #work-container #weather-link {
    background-image: url("../images/portfolio-item-thumbs/weather-network.jpg"); }
  #work-container #city-impact-link {
    background-image: url("../images/portfolio-item-thumbs/city-impact.jpg"); }

.project-container .project-content-header {
  text-align: center;
  font-size: 20px; }
  @media screen and (min-width: 485px) {
    .project-container .project-content-header {
      font-size: 36px; } }
.project-container .project-content-subheader {
  margin: 0 0 40px 0;
  text-align: center;
  color: #abb1bd;
  font-weight: 300;
  font-size: 16px; }
  @media screen and (min-width: 485px) {
    .project-container .project-content-subheader {
      font-size: 24px; } }
.project-container .project-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 0 0 10px 0; }
  .project-container .project-info:last-child {
    margin-right: 0; }
  .project-container .project-info .project-info-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
    line-height: 1.4; }
    .project-container .project-info .project-info-item:last-child {
      margin-right: 0; }
    @media screen and (min-width: 650px) {
      .project-container .project-info .project-info-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        line-height: 1.6; }
        .project-container .project-info .project-info-item:last-child {
          margin-right: 0; }
        .project-container .project-info .project-info-item:nth-child(2n) {
          margin-right: 0; }
        .project-container .project-info .project-info-item:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 1000px) {
      .project-container .project-info .project-info-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-top: 20px;
        margin-bottom: 20px; }
        .project-container .project-info .project-info-item:nth-child(2n) {
          margin-right: 2.35765%; }
        .project-container .project-info .project-info-item:nth-child(2n+1) {
          clear: none; }
        .project-container .project-info .project-info-item:last-child {
          margin-right: 0; }
        .project-container .project-info .project-info-item:nth-child(4n) {
          margin-right: 0; }
        .project-container .project-info .project-info-item:nth-child(4n+1) {
          clear: left; } }

.hover-before-after {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat; }
  .hover-before-after:last-child {
    margin-right: 0; }
  .hover-before-after img {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .hover-before-after .hover-changing-text {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0 0 0;
    text-align: center;
    color: white; }
  .hover-before-after .hover-changing-text {
    opacity: 1; }
  .hover-before-after .hover-changing-text:nth-child(2) {
    opacity: 0; }
  .hover-before-after:hover img {
    opacity: 0; }
  .hover-before-after:hover > .hover-changing-text {
    opacity: 0; }
  .hover-before-after:hover .hover-changing-text:nth-child(2) {
    opacity: 1; }
  .touch .hover-before-after img {
    opacity: 0; }
  .touch .hover-before-after .hover-changing-text {
    display: none; }

#awake-hover-before-after {
  background-image: url("../images/awake/no-colouring.jpg"); }
  .touch #awake-hover-before-after {
    background-image: url("../images/awake/split.jpg"); }

#project-controls {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px; }
  #project-controls:after {
    content: "";
    display: table;
    clear: both; }

.arrow {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 45px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 center;
  opacity: 0.5;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }
  .arrow:last-child {
    margin-right: 0; }
  @media screen and (min-width: 485px) {
    .arrow {
      height: 70px; } }
  .no-touch .arrow:hover {
    opacity: 1; }
    .no-touch .arrow:hover .arrow-hover-image {
      opacity: 1; }
    .no-touch .arrow:hover #left-arrow-image {
      -webkit-transform: translate(40px, 0);
      -moz-transform: translate(40px, 0);
      -ms-transform: translate(40px, 0);
      -o-transform: translate(40px, 0);
      transform: translate(40px, 0); }
      @media screen and (min-width: 485px) {
        .no-touch .arrow:hover #left-arrow-image {
          -webkit-transform: translate(40px, 10px);
          -moz-transform: translate(40px, 10px);
          -ms-transform: translate(40px, 10px);
          -o-transform: translate(40px, 10px);
          transform: translate(40px, 10px); } }
    .no-touch .arrow:hover #right-arrow-image {
      -webkit-transform: translate(-40px, 0);
      -moz-transform: translate(-40px, 0);
      -ms-transform: translate(-40px, 0);
      -o-transform: translate(-40px, 0);
      transform: translate(-40px, 0); }
      @media screen and (min-width: 485px) {
        .no-touch .arrow:hover #right-arrow-image {
          -webkit-transform: translate(-40px, 10px);
          -moz-transform: translate(-40px, 10px);
          -ms-transform: translate(-40px, 10px);
          -o-transform: translate(-40px, 10px);
          transform: translate(-40px, 10px); } }
  .arrow.left-arrow {
    background-image: url("../images/arrow-left.png"); }
  .arrow.right-arrow {
    background-image: url("../images/arrow-right.png");
    background-position: right;
    margin-right: 0; }
    .arrow.right-arrow .arrow-hover-image {
      float: right; }
  .arrow .arrow-hover-image {
    margin: 0;
    max-height: 50px;
    max-width: none;
    opacity: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    @media screen and (min-width: 485px) {
      .arrow .arrow-hover-image {
        -webkit-transform: translate(0, 10px);
        -moz-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
        -o-transform: translate(0, 10px);
        transform: translate(0, 10px); } }

.center-arrows {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  text-align: center; }
  .center-arrows:last-child {
    margin-right: 0; }

#project-content-close {
  width: 100%;
  display: inline-block; }

.view-all {
  height: 50px;
  line-height: 50px;
  font-size: 17px; }
  @media screen and (min-width: 485px) {
    .view-all {
      height: 70px;
      line-height: 70px; } }

#navbar-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: transparent;
  background-image: -webkit-linear-gradient(white, rgba(255, 255, 255, 0.85));
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.85)); }
  #navbar-container a {
    text-decoration: none; }
  .no-cssgradients #navbar-container {
    background-color: rgba(255, 255, 255, 0.9); }

#navbar-contents {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  #navbar-contents:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 650px) {
    #navbar-contents {
      padding: 0 20px; } }

#logo-container {
  display: none;
  position: relative;
  float: left;
  height: 60px; }
  @media screen and (min-width: 305px) {
    #logo-container {
      display: block; } }
  #logo-container .logo, #logo-container .logo-hover {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 35px;
    vertical-align: middle;
    background-image: url("../images/logo/db-logo-black-70.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  #logo-container .logo-hover {
    opacity: 0;
    background-image: url("../images/logo/db-logo-red-70.png"); }
  #logo-container:hover .logo-hover {
    opacity: 1; }

#logo-text {
  display: none;
  height: 100%;
  margin-left: 45px;
  line-height: 60px; }
  @media screen and (min-width: 485px) {
    #logo-text {
      display: inline-block; } }

#nav-links {
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 305px) {
    #nav-links {
      float: right;
      width: auto;
      text-align: left; } }
  #nav-links .nav-link {
    display: inline-block;
    height: 100%;
    line-height: 60px;
    padding: 0 5px;
    font-size: 14px; }
    @media screen and (min-width: 305px) {
      #nav-links .nav-link {
        font-size: 16px; } }
    #nav-links .nav-link a {
      display: inline-block;
      height: 100%; }
    #nav-links .nav-link:last-child {
      padding: 0 0 0 5px; }

.resume-section-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 40px;
  color: #a91818; }
  .resume-section-header:last-child {
    margin-right: 0; }
  @media screen and (min-width: 850px) {
    .resume-section-header {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .resume-section-header:last-child {
        margin-right: 0; } }

.resume-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 20px; }
  .resume-content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 850px) {
    .resume-content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-right: 0;
      margin-top: 40px; }
      .resume-content:last-child {
        margin-right: 0; } }
  .resume-content p {
    margin: 0; }
  .resume-content .big-title-section, .resume-content .small-title-section {
    margin-top: 40px;
    line-height: 1.6em;
    font-size: 17px; }
    .resume-content .big-title-section:first-child, .resume-content .small-title-section:first-child {
      margin-top: 0; }
  .resume-content .small-title-section {
    margin-top: 20px; }
  .resume-content .resume-subtitle {
    font-weight: normal;
    color: #80899b;
    margin-top: 20px; }
  .resume-content .roles-list {
    padding: 0 0 0 20px;
    margin: 0; }

.tech-skills {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .tech-skills:last-child {
    margin-right: 0; }
  @media screen and (min-width: 850px) {
    .tech-skills {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .tech-skills:last-child {
        margin-right: 0; }
      .tech-skills:last-child {
        margin-left: 8.5298%;
        margin-right: 0; } }
  .tech-skills .skills-list {
    display: inline-block;
    padding: 0;
    list-style: none;
    margin: 0 15px 0 0;
    vertical-align: top; }

.contact-label {
  display: block;
  margin: 20px 0 0 0; }

#contact-form {
  margin-top: 0;
  margin-bottom: 0; }
  #contact-form textarea {
    height: 150px;
    resize: none; }
  #contact-form #send-button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid black;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    #contact-form #send-button:hover {
      border: 2px solid #d61e1e;
      color: #d61e1e; }
    #contact-form #send-button:active {
      border: 2px solid #931515;
      color: #931515;
      -webkit-transform: scale(0.97);
      -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
      -o-transform: scale(0.97);
      transform: scale(0.97); }
    #contact-form #send-button.sending {
      background-image: url("../images/load.gif");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      border: 2px solid #000;
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
      cursor: default; }
      #contact-form #send-button.sending:hover {
        border: 2px solid black;
        color: black; }
      #contact-form #send-button.sending:active {
        border: 2px solid black;
        color: black;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
    #contact-form #send-button.success {
      border: 2px solid green;
      color: green;
      cursor: default; }
      #contact-form #send-button.success:hover {
        border: 2px solid green;
        color: green; }
      #contact-form #send-button.success:active {
        border: 2px solid green;
        color: green;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
  #contact-form .form-warning {
    display: none;
    color: red; }

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 36px; }

p, ol, ul {
  font-size: 17px;
  line-height: 1.7;
  /* @include media (\$big-screen) {
    font-size: \$main-font-size + 2px;
  } */ }

body {
  background-color: white;
  font-family: "Merriweather", Georgia, serif;
  -webkit-font-smoothing: subpixel-antialiased; }

form {
  font-size: 17px;
  line-height: 1.7; }

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  float: left; }

input, textarea {
  width: 100%;
  padding: 10px;
  font-family: "Merriweather", Georgia, serif;
  font-size: 17px;
  box-shadow: none;
  border: 1px solid #aaaaaa;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-style: italic; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-style: italic; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    font-style: italic; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-style: italic; }

input:focus, textarea:focus, a:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #d61e1e, 0 0 6px #d61e1e; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background-color: #f5f5f5; }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

.body-content, .paragraph-heading {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 20px 0; }
  .body-content:last-child, .paragraph-heading:last-child {
    margin-right: 0; }
  @media screen and (min-width: 850px) {
    .body-content, .paragraph-heading {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      .body-content:last-child, .paragraph-heading:last-child {
        margin-right: 0; } }

.paragraph-heading {
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px; }

.small-title, .resume-section-header {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  /* text-transform: uppercase; */
  font-weight: bold;
  /* color: \$accent-color; */ }

.normal-weight {
  font-weight: normal; }

a {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
  color: black;
  cursor: pointer; }
  a:hover {
    color: #d61e1e; }

.hide-no-touch {
  display: none; }
  .touch .hide-no-touch {
    display: block; }

.center {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  margin: 20px 0; }
  .center:last-child {
    margin-right: 0; }

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  margin-top: 20px; }
  .half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 650px) {
    .half {
      margin-top: 0;
      margin-bottom: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .half:last-child {
        margin-right: 0; }
      .half.right-half {
        margin-right: 0; } }
  .half img {
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    @media screen and (min-width: 850px) {
      .half img {
        margin-bottom: 20px; } }
  .half:hover img {
    opacity: 1; }

.contents-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  .contents-container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 650px) {
    .contents-container {
      padding: 0 20px; } }

.videoWrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin: 20px 0;
  background-image: url("../images/load.gif");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat; }
  .videoWrapper:last-child {
    margin-right: 0; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }

.image-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 20px 0; }
  .image-container:last-child {
    margin-right: 0; }
  @media screen and (min-width: 650px) {
    .image-container {
      margin: 40px 0; } }

.media-caption {
  width: 100%;
  margin: 20px 0 0 0;
  float: left;
  text-align: center;
  line-height: 1.3;
  font-size: 15px;
  font-style: italic;
  color: #abb1bd; }
  @media screen and (min-width: 850px) {
    .media-caption {
      /* margin: 20px 0 0 0; */
      font-size: 17px; } }
  .media-caption a {
    color: #abb1bd; }
    .media-caption a:hover {
      color: #d61e1e; }

#container {
  overflow: hidden;
  margin: 70px 0 0 0; }

#animation-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000; }

#profile-pic {
  border-radius: 50%;
  max-width: 250px;
  float: none; }

#footer {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  text-align: center; }

#footer-links {
  list-style-type: none;
  padding: 0;
  margin: 45px 0 30px 0; }

.footer-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  background-image: url("../images/social-icons-min-v2.png");
  background-size: 347px;
  background-repeat: no-repeat;
  opacity: 0.3;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  transition: opacity 0.25s; }
  .footer-link:hover, .footer-link:focus {
    opacity: 1; }
  .footer-link#email {
    background-position: -263px; }
  .footer-link#youtube {
    background-position: -9px;
    margin: 0 4px 0 0px; }
  .footer-link#photo500px {
    background-position: -136px; }
  .footer-link#dribbble {
    background-position: -179px; }
  .footer-link#twitter {
    background-position: -222px; }
  .footer-link#linkedin {
    background-position: -93px; }
  .footer-link#vimeo {
    background-position: -67px; }
  .footer-link#github {
    background-position: -306px; }
