* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0.9);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleUp {
  from {
    -moz-transform: scale(0.9);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleUp {
  from {
    -o-transform: scale(0.9);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

#top-navbar {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  #top-navbar:before, #top-navbar:after {
    content: " ";
    display: table; }
  #top-navbar:after {
    clear: both; }

#logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #eee; }
  #logo:last-child {
    margin-right: 0; }

#menu-bar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #eee; }
  #menu-bar:last-child {
    margin-right: 0; }
  #menu-bar .menu-bar-item {
    display: inline-block; }

#work-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: scaleUp 0.5s ease 0 1;
  -moz-animation: scaleUp 0.5s ease 0 1;
  animation: scaleUp 0.5s ease 0 1;
  padding: 10px;
  text-align: center; }
  #work-container:before, #work-container:after {
    content: " ";
    display: table; }
  #work-container:after {
    clear: both; }
  #work-container .portfolio-item {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 5px 2px;
    background-color: #77f;
    cursor: pointer;
    opacity: 0.82;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease; }
    #work-container .portfolio-item:hover {
      opacity: 1; }
    @media screen and (min-width: 500px) {
      #work-container .portfolio-item {
        height: 225px;
        width: 225px;
        background-color: green; } }
    @media screen and (min-width: 650px) {
      #work-container .portfolio-item {
        height: 275px;
        width: 275px;
        background-color: red; } }

#portfolio-item-page-container {
  padding: 20px; }

#portfolio-item-contents-container p {
  margin: 10px 0; }
