@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.animated.scaleUpIn {
  -webkit-animation-name: scaleUpIn;
  -moz-animation-name: scaleUpIn;
  animation-name: scaleUpIn; }

@-webkit-keyframes scaleUpIn {
  from {
    -webkit-transform: scale(0.95);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleUpIn {
  from {
    -moz-transform: scale(0.95);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleUpIn {
  from {
    -o-transform: scale(0.95);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleUpIn {
  from {
    transform: scale(0.95);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleUpOut {
  -webkit-animation-name: scaleUpOut;
  -moz-animation-name: scaleUpOut;
  animation-name: scaleUpOut; }

@-webkit-keyframes scaleUpOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(1.1);
    opacity: 0; } }

@-moz-keyframes scaleUpOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(1.1);
    opacity: 0; } }

@-o-keyframes scaleUpOut {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(1.1);
    opacity: 0; } }

@keyframes scaleUpOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(1.1);
    opacity: 0; } }

.animated.scaleDownIn {
  -webkit-animation-name: scaleDownIn;
  -moz-animation-name: scaleDownIn;
  animation-name: scaleDownIn; }

@-webkit-keyframes scaleDownIn {
  from {
    -webkit-transform: scale(1.1);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleDownIn {
  from {
    -moz-transform: scale(1.1);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleDownIn {
  from {
    -o-transform: scale(1.1);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleDownIn {
  from {
    transform: scale(1.1);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleDownOut {
  -webkit-animation-name: scaleDownOut;
  -moz-animation-name: scaleDownOut;
  animation-name: scaleDownOut; }

@-webkit-keyframes scaleDownOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(0.98);
    opacity: 0; } }

@-moz-keyframes scaleDownOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(0.98);
    opacity: 0; } }

@-o-keyframes scaleDownOut {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(0.98);
    opacity: 0; } }

@keyframes scaleDownOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(0.98);
    opacity: 0; } }

#error-404-container {
  text-align: center;
  width: 175px;
  margin: 0 auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.animated.scaleUpIn {
  -webkit-animation-name: scaleUpIn;
  -moz-animation-name: scaleUpIn;
  animation-name: scaleUpIn; }

@-webkit-keyframes scaleUpIn {
  from {
    -webkit-transform: scale(0.95);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleUpIn {
  from {
    -moz-transform: scale(0.95);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleUpIn {
  from {
    -o-transform: scale(0.95);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleUpIn {
  from {
    transform: scale(0.95);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleUpOut {
  -webkit-animation-name: scaleUpOut;
  -moz-animation-name: scaleUpOut;
  animation-name: scaleUpOut; }

@-webkit-keyframes scaleUpOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(1.1);
    opacity: 0; } }

@-moz-keyframes scaleUpOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(1.1);
    opacity: 0; } }

@-o-keyframes scaleUpOut {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(1.1);
    opacity: 0; } }

@keyframes scaleUpOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(1.1);
    opacity: 0; } }

.animated.scaleDownIn {
  -webkit-animation-name: scaleDownIn;
  -moz-animation-name: scaleDownIn;
  animation-name: scaleDownIn; }

@-webkit-keyframes scaleDownIn {
  from {
    -webkit-transform: scale(1.1);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleDownIn {
  from {
    -moz-transform: scale(1.1);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleDownIn {
  from {
    -o-transform: scale(1.1);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleDownIn {
  from {
    transform: scale(1.1);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleDownOut {
  -webkit-animation-name: scaleDownOut;
  -moz-animation-name: scaleDownOut;
  animation-name: scaleDownOut; }

@-webkit-keyframes scaleDownOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(0.98);
    opacity: 0; } }

@-moz-keyframes scaleDownOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(0.98);
    opacity: 0; } }

@-o-keyframes scaleDownOut {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(0.98);
    opacity: 0; } }

@keyframes scaleDownOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(0.98);
    opacity: 0; } }

#work-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  #work-container:before, #work-container:after {
    content: " ";
    display: table; }
  #work-container:after {
    clear: both; }
  #work-container .portfolio-item {
    display: inline-block;
    height: 215px;
    width: 100%;
    position: relative;
    border-left: 2px solid white;
    border-right: 2px solid white;
    text-decoration: none;
    background-color: #77f;
    cursor: pointer;
    opacity: 0.85;
    -webkit-backface-visibility: none;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease; }
    .touch #work-container .portfolio-item, #work-container .portfolio-item:hover {
      opacity: 1; }
      .touch #work-container .portfolio-item .hover-description, #work-container .portfolio-item:hover .hover-description {
        opacity: 1; }
    #work-container .portfolio-item:active {
      -webkit-transform: scale(0.97);
      -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
      -o-transform: scale(0.97);
      transform: scale(0.97); }
    @media screen and (min-width: 450px) {
      #work-container .portfolio-item {
        height: 275px;
        background-color: green; } }
    @media screen and (min-width: 650px) {
      #work-container .portfolio-item {
        height: 250px;
        width: 50%;
        background-color: red; } }
    @media screen and (min-width: 1000px) {
      #work-container .portfolio-item {
        height: 250px;
        width: 33.333%;
        background-color: pink; } }
    #work-container .portfolio-item .hover-description {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 0;
      font-family: Lato;
      color: white;
      font-size: 20px;
      font-weight: 300;
      background-color: transparent;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.4)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 90%);
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 90%);
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
      #work-container .portfolio-item .hover-description .description-subtitle {
        font-size: 16px; }
      .no-cssgradients #work-container .portfolio-item .hover-description {
        background-color: rgba(0, 0, 0, 0.4); }
  #work-container #awake-link {
    background-image: url("../images/portfolio-item-thumbs/awake.jpg");
    background-size: cover;
    background-position: center; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.animated.scaleUpIn {
  -webkit-animation-name: scaleUpIn;
  -moz-animation-name: scaleUpIn;
  animation-name: scaleUpIn; }

@-webkit-keyframes scaleUpIn {
  from {
    -webkit-transform: scale(0.95);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleUpIn {
  from {
    -moz-transform: scale(0.95);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleUpIn {
  from {
    -o-transform: scale(0.95);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleUpIn {
  from {
    transform: scale(0.95);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleUpOut {
  -webkit-animation-name: scaleUpOut;
  -moz-animation-name: scaleUpOut;
  animation-name: scaleUpOut; }

@-webkit-keyframes scaleUpOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(1.1);
    opacity: 0; } }

@-moz-keyframes scaleUpOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(1.1);
    opacity: 0; } }

@-o-keyframes scaleUpOut {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(1.1);
    opacity: 0; } }

@keyframes scaleUpOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(1.1);
    opacity: 0; } }

.animated.scaleDownIn {
  -webkit-animation-name: scaleDownIn;
  -moz-animation-name: scaleDownIn;
  animation-name: scaleDownIn; }

@-webkit-keyframes scaleDownIn {
  from {
    -webkit-transform: scale(1.1);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scaleDownIn {
  from {
    -moz-transform: scale(1.1);
    opacity: 0; }

  to {
    -moz-transform: scale(1);
    opacity: 1; } }

@-o-keyframes scaleDownIn {
  from {
    -o-transform: scale(1.1);
    opacity: 0; }

  to {
    -o-transform: scale(1);
    opacity: 1; } }

@keyframes scaleDownIn {
  from {
    transform: scale(1.1);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }

.animated.scaleDownOut {
  -webkit-animation-name: scaleDownOut;
  -moz-animation-name: scaleDownOut;
  animation-name: scaleDownOut; }

@-webkit-keyframes scaleDownOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(0.98);
    opacity: 0; } }

@-moz-keyframes scaleDownOut {
  from {
    -moz-transform: scale(1);
    opacity: 1; }

  to {
    -moz-transform: scale(0.98);
    opacity: 0; } }

@-o-keyframes scaleDownOut {
  from {
    -o-transform: scale(1);
    opacity: 1; }

  to {
    -o-transform: scale(0.98);
    opacity: 0; } }

@keyframes scaleDownOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(0.98);
    opacity: 0; } }

.project-content-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; }
  .project-content-container:before, .project-content-container:after {
    content: " ";
    display: table; }
  .project-content-container:after {
    clear: both; }
  .project-content-container .project-content-header {
    text-align: center; }
  .project-content-container .project-content-subheader {
    margin: 0 0 40px 0;
    text-align: center;
    color: #909db8;
    font-weight: 300;
    font-size: 20px; }
  .project-content-container .project-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 0 0 10px 0; }
    .project-content-container .project-info:last-child {
      margin-right: 0; }
    .project-content-container .project-info .project-info-item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin: 5px 0;
      font-size: 18px;
      line-height: 1.4; }
      .project-content-container .project-info .project-info-item:last-child {
        margin-right: 0; }
      @media screen and (min-width: 650px) {
        .project-content-container .project-info .project-info-item {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          font-size: 20px;
          line-height: 1.6; }
          .project-content-container .project-info .project-info-item:last-child {
            margin-right: 0; }
          .project-content-container .project-info .project-info-item:nth-child(2n) {
            margin-right: 0; }
          .project-content-container .project-info .project-info-item:nth-child(2n+1) {
            clear: left; } }
      @media screen and (min-width: 1000px) {
        .project-content-container .project-info .project-info-item {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%;
          margin-top: 20px;
          margin-bottom: 20px; }
          .project-content-container .project-info .project-info-item:nth-child(2n) {
            margin-right: 2.35765%; }
          .project-content-container .project-info .project-info-item:nth-child(2n+1) {
            clear: none; }
          .project-content-container .project-info .project-info-item:last-child {
            margin-right: 0; }
          .project-content-container .project-info .project-info-item:nth-child(4n) {
            margin-right: 0; }
          .project-content-container .project-info .project-info-item:nth-child(4n+1) {
            clear: left; } }
    .project-content-container .project-info .small-title {
      font-family: Lato;
      text-transform: uppercase;
      font-weight: 300;
      color: #909db8; }
  .project-content-container .project-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 20px 0; }
    .project-content-container .project-content:last-child {
      margin-right: 0; }
    @media screen and (min-width: 850px) {
      .project-content-container .project-content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .project-content-container .project-content:last-child {
          margin-right: 0; } }
  .project-content-container .project-image-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 40px 0; }
    .project-content-container .project-image-container:last-child {
      margin-right: 0; }
    .project-content-container .project-image-container .project-image-caption {
      margin: 0 0 20px 0;
      text-align: center;
      line-height: 1.3;
      font-size: 16px;
      font-style: italic;
      color: #909db8; }
      @media screen and (min-width: 850px) {
        .project-content-container .project-image-container .project-image-caption {
          margin: 0 0 30px 0;
          font-size: 20px; } }

.hover-before-after {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative;
  background-image: url("../images/awake/no-colouring.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }
  .hover-before-after:last-child {
    margin-right: 0; }
  .hover-before-after img {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .hover-before-after .hover-changing-text {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0 0 0;
    text-align: center;
    color: white;
    font-size: 20px; }
  .hover-before-after .hover-changing-text {
    opacity: 1; }
  .hover-before-after .hover-changing-text:nth-child(2) {
    opacity: 0; }
  .hover-before-after:hover img {
    opacity: 0; }
  .hover-before-after:hover > .hover-changing-text {
    opacity: 0; }
  .hover-before-after:hover .hover-changing-text:nth-child(2) {
    opacity: 1; }
  .touch .hover-before-after {
    background-image: url("../images/awake/split.jpg"); }
    .touch .hover-before-after img {
      opacity: 0; }
    .touch .hover-before-after .hover-changing-text {
      display: none; }

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

img {
  max-width: 100%; }

body {
  background-color: white;
  font-family: Droid Serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato; }

h1 {
  font-size: 36px; }

p {
  font-size: 18px;
  line-height: 1.6; }
  @media screen and (min-width: 650px) {
    p {
      font-size: 20px; } }

a {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  transition: color 0.25s;
  color: black; }
  a:hover {
    color: #003dbd; }

.hide-no-touch {
  display: none; }
  .touch .hide-no-touch {
    display: block; }

#container {
  overflow: hidden; }

#top-navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0.85)));
  background-image: -webkit-linear-gradient(white, rgba(255, 255, 255, 0.85));
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.85)); }
  #top-navbar a {
    text-decoration: none; }
  .no-cssgradients #top-navbar {
    background-color: rgba(255, 255, 255, 0.9); }

#logo {
  font-family: Lato;
  font-weight: 300; }

#menu-bar .menu-bar-item {
  display: inline-block;
  font-family: Lato; }

#contents-container {
  margin: 100px 0 0 0; }

.videoWrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin: 20px 0;
  background-image: url("../images/load.gif");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }

#footer {
  font-size: 18px;
  text-align: center; }
  @media screen and (min-width: 650px) {
    #footer {
      font-size: 20px; } }
