// Styles for each project page

@import "bourbon/bourbon";
@import "neat/neat";
@import "grid-settings";
@import "mixins";
@import "variables";
@import "animations.scss";

.project-content-container {
    @include outer-container;
    padding: 0 10px;

    @include media($small-tablet) {
        padding: 0 20px;
    }

    .project-content-header {
        text-align: center;
        font-size: 20px;

        @include media($mobile) {
            font-size: 36px;
        }
    }

    .project-content-subheader {
        margin: 0 0 40px 0;

        text-align: center;
        color: $accent-color;
        font-weight: 300;
        font-size: 16px;

        @include media($mobile) {
            font-size: 24px;
        }
    }

    // project info eg. type, date, etc
    .project-info {
        @include span-columns(12);

        margin: 0 0 10px 0;

        .project-info-item {
            @include span-columns(12);
            margin: 5px 0;

            font-size: 18px;
            line-height: 1.4;

            @include media($small-tablet) {
                @include span-columns(6);
                @include omega(2n);
                // font-size: 20px;
                line-height: 1.6;
            }

            @include media($laptop) {
                @include omega-reset(2n);
                @include span-columns(3);
                @include omega(4n);
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .small-title {
            font-family: Lato, Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 300;
            color: $accent-color;
        }
    }

    // usually paragraphs
    .project-content {
        @include span-columns(12);
        margin: 20px 0;

        @include media($big-tablet) {
            @include span-columns(8);
            @include shift(2);
        }
    }

    .project-image-container {
        @include span-columns(12);
        margin: 10px 0;

        @include media($small-tablet) {
            margin: 40px 0;
        }
    }

    .project-caption {
        margin: 0 0 20px 0;

        text-align: center;
        line-height: 1.3;
        font-size: 16px;
        font-style: italic;

        color: #909db8;

        @include media($big-tablet) {
            margin: 0 0 30px 0;

            font-size: 18px;
        }
    }
}

// use for crossfading two images with a fading overlay caption as well
.hover-before-after {
    @include span-columns(12);
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;

    & img {
        @include transition(opacity 0.3s);
        @include backface-visibility(hidden);
    }

    .hover-changing-text {
        @include transition(opacity 0.3s);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        padding: 20px 0 0 0;

        text-align: center;
        color: white;
        // font-size: 20px;
    }

    & .hover-changing-text {
        opacity: 1;
    }

    & .hover-changing-text:nth-child(2) {
        opacity: 0;
    }

    &:hover {
        & img {
            opacity: 0;
        }

        & > .hover-changing-text  {
            opacity: 0;
        }

        & .hover-changing-text:nth-child(2) {
            opacity: 1;
        }
    }

    // show a static image on touch devices
    .touch & {
        img {
            opacity: 0;
        }

        .hover-changing-text {
            display: none;
        }
    }
}

#awake-hover-before-after {
    background-image: url("../images/awake/no-colouring.jpg");

    .touch & {
        background-image: url("../images/awake/split.jpg");
    }
}

#project-controls {
    // @include animation-name(fadeIn);
    // @include animation-duration(0.5s);
    // @include animation-timing-function(ease);
    // @include animation-delay(1.5s);
    // @include animation-fill-mode(forwards);

    // opacity: 0;

    @include outer-container;
    padding: 0 10px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;

    @include media($small-tablet) {
        padding: 0 20px;
    }

    // @include media($big-screen) {
    //     width:100%;
    //     max-width: none;
    //     text-align: center;
    //     padding: 0;
    //     margin: 0;
    // }
}

.arrow {
    @include span-columns(2);


    height: 45px;

    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;

    opacity: 0.5;
    @include transition(all 0.25s);

    @include media($mobile) {
        height: 70px;
        background-size: 25px;
    }

    // @include media($big-screen) {
    //     -webkit-backface-visibility: hidden;
    //     -webkit-transform: translateZ(0);
    //     position: fixed;
    //     top: 110px;
    //     // bottom: 0px;

    //     width: 100px;
    //     // height: 100px;
    //     margin: 0;
    //     z-index: 1;

    //     &.right-arrow {
    //         right: 0;
    //     }
    //     &.left-arrow {
    //         left: 0;
    //     }
    // }

    &:hover {
        opacity: 1;

        .arrow-hover-image {
            opacity: 1;
        }

        #left-arrow-image {
            @include transform(translate(40px, 0));

            @include media($mobile) {
                @include transform(translate(40px, 10px));
            }
        }

        #right-arrow-image {
            @include transform(translate(-40px, 0));

            @include media($mobile) {
                @include transform(translate(-40px, 10px));
            }
        }
    }

    &.left-arrow {
        background-image: url("../images/arrow-left.png");

        // @include media($big-screen) {
        //     background-position: 20px;
        //     padding-left: 20px;
        // }
    }

    &.right-arrow {
        background-image: url("../images/arrow-right.png");
        background-position: right;
        @include omega();

        // @include media($big-screen) {
        //     background-position: 55px;
        //     padding-right: 20px;
        // }

        .arrow-hover-image {
            float: right;
        }
    }

    // image that slides in when the user hovers over the arrows
    .arrow-hover-image {
        max-height: 50px;
        max-width: none;

        opacity: 0;
        @include transform(translate(0, 0));
        @include transition(all 0.25s ease-in-out);
        @include backface-visibility(hidden);

        @include media($mobile) {
            @include transform(translate(0, 10px));
        }
    }
}

.center-arrows {
    @include span-columns(8);
    text-align: center;
}

.view-all {
    height: 50px;
    line-height: 50px;
    font-size: 18px;

    @include media($mobile) {
        height: 70px;
        line-height: 70px;
    }
}